
{# about-support.njk #}
    <div class="relative grid grid-cols-1 gap-2 md:grid-cols-3 xl:grid-cols-5">
      {% for item in partner %}
        <div class="relative mb-2 md:mb-0 transition-all duration-300 ease-out rounded-xl lg:xh-[400px]">
          {# Card main body #}
          <div class="relative h-full overflow-hidden border rounded-xl border-slate-900 bg-slate-900/30 backdrop-blur-lg">

            {# Expanded State - Content #}
            <div class="flex flex-col p-4 transition-all duration-300">
                <div class="flex items-center mb-6 space-x-2">
                  <span class="text-xs font-medium bg-teal-400/90 text-slate-900 px-2 py-0.5 rounded backdrop-blur-sm">0{{ loop.index0 + 1 }}</span>
                </div>
                <h3 class="mb-3 text-2xl font-medium text-teal-400">{{ item.title }}</h3>
                <p class="mb-6 text-sm leading-relaxed text-slate-300">{{ item.body }}</p>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>


