<div class="pt-12 w-full font-open">
  <div class=" text-center md:text-left bg-gradient-to-r from-black to-teal-600 p-4 py-8 md:p-8 text-white w-full flex flex-col md:flex-row rounded-lg shadow-sm ">
    <div>
      <h2 class="font-bold text-2xl">Getting the most out of your IT?</h2>
      <h3>Get the Unfair Advantage Today</h3>
    </div>
    <button @click="showModal = true" class="px-3 bg-white mx-auto py-3 mt-3 md:mt-0 md:ml-auto rounded-lg text-black font-bold text-sm uppercase">Connect with our Team</button>
  </div>
</div>