<!-- Slider main container -->
<div class="w-full swiper h-44" id="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->

    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/cjc.svg" alt="CJC">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/atm.svg" alt="ATM">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/maxpost.svg" alt="MaxPost">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/exodus.svg" alt="Exodus Recovery">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/dga.svg" alt="DG Architects">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/razor.svg" alt="Razor">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/roland.svg" alt="Roland">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/axs.svg" alt="AXS">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/computacenter.svg" alt="Computacenter">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/fremantle.svg" alt="Fremantle">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/mnx.svg" alt="MNX">
    </div>
    <div class="swiper-slide brandSlide">
      <img class="brandSlide__logo" src="images/home/clients/op.svg" alt="Original Productions">
    </div>


 
  </div>

</div>

<style>
  #swiper .swiper-wrapper{
    transition-timing-function: linear !important;
  }

  .brandSlide{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 clamp(32px,5vw,46px);
    min-width:clamp(120px,12vw,180px);
  }

  .brandSlide__logo{
    max-height:56px;
    height:auto;
    width:auto;
    opacity:.9;
    filter:contrast(1.05);
  }

  @media (max-width: 720px){
    .brandSlide{
      padding:0 clamp(20px,4vw,30px);
      min-width:clamp(100px,32vw,140px);
    }
    .brandSlide__logo{
      max-height:48px;
    }
  }
</style>
