<!-- Slider main container -->
<div class="kfE__partnersCarousel swiper" id="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper kfE__partnersTrack">
    <!-- Slides -->

    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/cjc.svg" alt="CJC">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/atm.svg" alt="ATM">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/maxpost.svg" alt="MaxPost">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/exodus.svg" alt="Exodus Recovery">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/dga.svg" alt="DG Architects">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/razor.svg" alt="Razor">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/roland.svg" alt="Roland">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/axs.svg" alt="AXS">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/computacenter.svg" alt="Computacenter">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/fremantle.svg" alt="Fremantle">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/mnx.svg" alt="MNX">
      </div>
    </div>
    <div class="swiper-slide kfE__partnerSlide">
      <div class="kfE__partnerCard">
        <img src="/images/home/clients/op.svg" alt="Original Productions">
      </div>
    </div>


 
  </div>

</div>

<style>
  /* Keep linear timing for smooth continuous scroll */
  #swiper .swiper-wrapper{ transition-timing-function: linear !important; }

  /* Add edge fade like partners carousel when used outside home styles */
  #swiper.kfE__partnersCarousel{
    mask-image:linear-gradient(90deg, transparent 0%, #000 12%, #000 88%, transparent 100%);
    -webkit-mask-image:linear-gradient(90deg, transparent 0%, #000 12%, #000 88%, transparent 100%);
  }
</style>
