<!-- Slider main container -->
<div class="w-full swiper" id="hero">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {# Slide 1 #}
    <div class="swiper-slide">
      <section aria-label="Two people collaborating at a laptop in a dimly lit, modern office"
        class="hidden md:block w-full md:py-20 bg-[url('/images/home/home_2024.webp')] bg-cover bg-center text-white lg:px-10 relative">
        <div class="absolute inset-0 w-full h-full bg-gradient-to-r from-slate-800/90 to-black/10">&nbsp;</div>
        <div class="container relative py-24 mx-6 lg:px-20 md:mx-auto md:py-48">
          <div class="flex py-8 lg:px-12 ">
            <span class="block w-full p-3 rounded-lg">
              <h1 class="mb-4 font-bold md:text-4xl lg:text-6xl">Your <span class="text-teal-400">Trusted IT Partner</span> <br> in IT Security & Reliability since 2000</h1>
              <p class=" md:text-4xl lg:text-5xl">IT Strategy & Execution. 24/7</p>
              <button type="button" @click="showModal = true"
                class="relative inline-flex items-center justify-center p-4 px-6 py-3 mt-8 overflow-hidden font-medium text-teal-600 transition duration-300 ease-out bg-teal-500 border-2 border-teal-500 rounded-md shadow-md group">
                <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-teal-500 group-hover:translate-x-0 ease">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg>
                </span>
                <span class="absolute flex items-center justify-center w-full h-full font-bold text-white transition-all duration-300 transform md:text-xl group-hover:translate-x-full ease">Get
                  Started
                  Today</span>
                <span class="relative invisible font-bold md:text-xl">Get Started Today</span>
              </button>
            </span>
          </div>
        </div>
      </section>
    </div>

    <div class="swiper-slide">
      <section aria-label="Two people collaborating at a laptop in a dimly lit, modern office"
        class="hidden md:block w-full md:py-20 bg-[url('/images/home/aitech.webp')] bg-cover bg-center text-white lg:px-10 relative">
        <div class="absolute inset-0 w-full h-full bg-gradient-to-r from-red-800/90 to-black/10">&nbsp;</div>
        <div class="container relative py-24 mx-6 lg:px-20 md:mx-auto md:py-48">
          <div class="flex py-8 lg:px-12 ">
            <span class="block w-full p-3 rounded-lg">
              <h2 class="mb-4 font-bold md:text-4xl lg:text-6xl">AI Solution Adoption Starts Here, <br/>With Your Trusted IT Partner</h2>
              <p class=" md:text-4xl lg:text-5xl">Gain the UNFAIR Advantage Today</p>
              <button type="button" @click="showModal = true"
                class="relative inline-flex items-center justify-center p-4 px-6 py-3 mt-8 overflow-hidden font-medium text-teal-600 transition duration-300 ease-out bg-teal-500 border-2 border-teal-500 rounded-md shadow-md group">
                <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-teal-500 group-hover:translate-x-0 ease">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg>
                </span>
                <span class="absolute flex items-center justify-center w-full h-full font-bold text-white transition-all duration-300 transform md:text-xl group-hover:translate-x-full ease">Get
                  Started
                  Today</span>
                <span class="relative invisible font-bold md:text-xl">Get Started Today</span>
              </button>
            </span>
          </div>
        </div>
      </section>
    </div>

    <div class="swiper-slide">
      <section aria-label="Two people collaborating at a laptop in a dimly lit, modern office"
        class="hidden md:block w-full md:py-20 bg-[url('/images/home/local.webp')] bg-cover bg-center text-white lg:px-10 relative">
        <div class="absolute inset-0 w-full h-full bg-gradient-to-r from-slate-900/50 to-black/10">&nbsp;</div>
        <div class="container relative py-24 mx-6 lg:px-20 md:mx-auto md:py-48">
          <div class="flex py-8 lg:px-12 ">
            <span class="block w-full p-3 rounded-lg">
              <h2 class="mb-4 font-bold md:text-4xl lg:text-6xl">Front-Line IT Support Solutions <br/>Delivered by Your Local IT Partner</h2>
              <p class=" md:text-4xl lg:text-5xl">IT Transformation. 24/7</p>
              <button type="button" @click="showModal = true"
                class="relative inline-flex items-center justify-center p-4 px-6 py-3 mt-8 overflow-hidden font-medium text-teal-600 transition duration-300 ease-out bg-teal-500 border-2 border-teal-500 rounded-md shadow-md group">
                <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-teal-500 group-hover:translate-x-0 ease">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                  </svg>
                </span>
                <span class="absolute flex items-center justify-center w-full h-full font-bold text-white transition-all duration-300 transform md:text-xl group-hover:translate-x-full ease">Get
                  Started
                  Today</span>
                <span class="relative invisible font-bold md:text-xl">Get Started Today</span>
              </button>
            </span>
          </div>
        </div>
      </section>
    </div>

  </div>
  <!-- If we need pagination --> 
  <div class="swiper-pagination"></div>
 
  <!-- <div class="swiper-scrollbar"></div> -->

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</div>



<!-- Mobile Version -->
<section aria-label="Two people collaborating at a laptop in a dimly lit, modern office" class="md:hidden w-full bg-[url('/images/home/home_2024.webp')] bg-cover bg-center text-white relative pt-48 pb-1">
  <div class="absolute bottom-0 w-full h-3/4 bg-gradient-to-t from-slate-900 to-transparent">&nbsp;</div>
      <div class="relative pt-20 bg-gradient-to-t from-slate-900 to-transparent">
        <h2 class="mb-4 text-3xl font-bold leading-none tracking-wide text-center">Your <span class="text-teal-400">Trusted IT Partner</span> <br> in IT Security & Reliability since 2000</h2>
        <p class="text-base text-center">IT Strategy & Execution. 24/7</p>
        <button type="button" @click="showModal = true" class="block px-6 py-2 mx-auto my-5 text-base font-bold text-white bg-teal-500 rounded-lg">Get Started Today</button>
      </div>
</section>