<div class="container md:mx-auto my-16 px-10" id="post-list">

  {% if postListHeadline %}
  <h2 class="[ headline ] [ measure-micro ]" data-highlight="primary">
    {{ postListHeadline }}
  </h2>
  {% endif %}
  <div class="grid gap-2 grid-flow-row grid-cols-2 grid-rows-3">

    {% for item in postListItems %}

    <div class="block overflow-hidden rounded-lg border border-gray-100 shadow-sm">
      <img alt="{{ item.data.alt }}"
        src="{{ item.data.img }}"
        class="h-56 w-full object-cover" />
      <div class="p-6">
        <a href="{{ item.url }}" class="text-xl font-bold hover:underline">
          {{ item.data.title }}
        </a>
        <p class="text-xs text-slate-600">{{ item.data.date | dateFilter }}</p>
        <div class="relative">
          <p class="mt-2 text-sm text-gray-500 w-auto">
           {{ item.data.exerpt }}
          </p>
          <!-- <div class="w-auto h-full bg-gradient-to-l from-white absolute inset-0"></div> -->
        </div>
        <div class="flex mt-2">
          {% for tag in item.data.tags %}
          <a class="text-teal-400 mr-2 rounded-full text-xs py-1 hover:underline"
            href="tag/{{ tag | slug }}/">#{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

</div>